/** ---- FORM ----
 * CSS styles for alerts.
 *
 */

.alert{ 

    background-color: lighten($cyan, 50%);
    color: darken($cyan, 10%);
    border-radius: $border-radius;

    padding: $vertical_padding $horizontal_padding;
    margin-bottom: $vertical_padding;

    &--error{
        background-color: lighten($red, 50%);
        color: darken($red, 10%);
    }

    &--success{
        background-color: lighten($green, 58%);
        color: darken($green, 10%);
    }

    &--warning{
        background-color: lighten($orange, 42%);
        color: darken($orange, 10%);
    }

    a {
        color: inherit;
        text-decoration: underline;
    }
}
