@charset "UTF-8";

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loader {
    display: inline-block;
    height: $horizontal_padding;
    width: $horizontal_padding;

    border-radius: 100%;
    border: 2px solid $grey;
    border-bottom-color: transparent;

    background: transparent !important;

    animation: rotate 1s 0s linear infinite;

    &--primary {
        border-color: $cyan;
        border-bottom-color: transparent;
    }

    &--create {
        border-color: $green;
        border-bottom-color: transparent;
    }

    &--change {
        border-color: $orange;
        border-bottom-color: transparent;
    }

    &--delete {
        border-color: $red;
        border-bottom-color: transparent;
    }

    &--large {
        height: $horizontal_padding * 2;
        width: $horizontal_padding * 2;
    }

    &--small {
        height: $horizontal_padding * 0.75;
        width: $horizontal_padding * 0.75;
    }
}
