@charset "UTF-8";

@mixin badge() {
    @include font_size($font_size--small);

    color: #fff;
    background-color: $grey;
    display: inline-block;
    border-radius: line_height($font_size--small) / 2;
    padding-left: 0.5em;
    padding-right: 0.5em;
    white-space: nowrap;
    position: relative;
}

.badge {
    @include badge();

    &--primary {
        background-color: $background_color--primary;
    }

    &--success {
        background-color: $background_color--create;
    }

    &--warning {
        background-color: $background_color--change;
    }

    &--danger {
        background-color: $background_color--delete;
    }
}
