@charset "UTF-8";

@import "../lib/button";

/**
 * Btn - Standard button component style.
 */

.btn {
    @include btn();

    &.btn--outline {
        @include button-outline-attributes($grey);
    }

    &.btn--link {
        @include button-link-attributes($grey);
    }

    &--primary {
        @include button-solid-attributes($background_color--primary);

        &.btn--outline {
            @include button-outline-attributes($background_color--primary);
        }

        &.btn--link {
            @include button-link-attributes($background_color--primary);
        }
    }

    &--create {
        @include button-solid-attributes($background_color--create);

        &.btn--outline {
            @include button-outline-attributes($background_color--create);
        }

        &.btn--link {
            @include button-link-attributes($background_color--create);
        }
    }

    &--change {
        @include button-solid-attributes($background_color--change);

        &.btn--outline {
            @include button-outline-attributes($background_color--change);
        }

        &.btn--link {
            @include button-link-attributes($background_color--change);
        }
    }

    &--cancel {
        @include button-solid-attributes($background_color--cancel, $grey--medium);

        &.btn--outline {
            @include button-outline-attributes($grey);
            color: $grey;
        }

        &.btn--link {
            @include button-link-attributes($grey);
        }

        &.btn--loading:before {
            border-top-color: $grey;
            border-left-color: $grey;
            border-right-color: $grey;
        }
    }

    &--delete {
        @include button-solid-attributes($background_color--delete);

        &.btn--outline {
            @include button-outline-attributes($background_color--delete);
        }

        &.btn--link {
            @include button-link-attributes($background_color--delete);
        }
    }

    &--full-width {
        display: block;
        width:100%;
    }

    &--round {
        border-radius: 50%;
        width: $vertical_padding * 2 + 1rem;
        height: $vertical_padding * 2 + 1rem;
        padding-left: 0;
        padding-right: 0;
    }

    &--round-large {
        border-radius: 50%;
        width: ($vertical_padding * 1.4 * 2) + 1rem;
        height: ($vertical_padding * 1.4 * 2) + 1rem;
        padding-left: 0;
        padding-right: 0;
    }

    &--large {
        padding: $vertical_padding $horizontal_padding * 1.5;
    }

    &--small {
        padding: 0 $horizontal_padding / 2;

        &.btn--loading {
            &:before {
                height: 12px;
                width: 12px;
                margin-top: - 12px / 2;
                margin-left: - 12px / 2;
            }
        }
    }

    &--micro {
        @include font_size($font_size--small);
        padding: 1px 0.25rem 0 0.25rem;

        &.btn--loading {
            &:before {
                height: 12px;
                width: 12px;
                margin-top: - 12px / 2;
                margin-left: - 12px / 2;
            }
        }
    }

    &--margin-bottom {
        margin-bottom: $vertical_padding;
    }

    &--loading {
        &:before {
            content: "";
            display: block;
            height: $loader_size;
            width: $loader_size;

            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: - $loader_size / 2;
            margin-left: - $loader_size / 2;

            border-radius: 50%;
            border: 2px solid #fff;
            border-bottom-color: transparent;

            background: transparent !important;

            animation: rotate 1s 0s linear infinite;
        }
    }

    &--tab {
        border-radius: $border_radius $border_radius 0 0;
        border-bottom: none;
        margin-right: 2px;
        margin-bottom: 1px;

        &.btn--outline {
            padding-bottom: $vertical_padding;
        }
    }
}

.btn-group {
    .btn {
        margin-right: $horizontal_padding;

        &:last-child {
            margin-right: 0;
        }
    }

    .btn--small {
        margin-right: $horizontal_padding / 2;
    }
}
