@charset "UTF-8";

@import "../lib/clearfix";


.dialog {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    &--small {
        .dialog__content, .dialog__content--pre, .dialog__content--post {
            max-width: 360px;
        }
    }

    &--large {
        .dialog__content, .dialog__content--pre, .dialog__content--post {
            max-width: $desktop-width;
        }
    }

    &--full-width {
        .dialog__content, .dialog__content--pre, .dialog__content--post {
            max-width: none;
        }
    }

    &--modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 101;

        &-open {
            display: flex;

            @media screen and (min-width: $tablet-width) {
                overflow-y: auto;
            }

            &:after {
                content: "";
                display: block;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.35);
                z-index: -1;
                pointer-events: none;
            }
        }

        .dialog__content {
            @media screen and (max-width: $mobile-width) {
                display: flex;
                flex-direction: column;
                max-height: calc(100% - #{$vertical_padding * 1.33});
            }
        }

        .dialog__body {
            @media screen and (max-width: $mobile-width) {
                overflow-y: auto;
            }
        }

        .dialog__header {
            background-color: $dialog_header_bg;
            border-bottom: $dialog_header_border;
            color: $dialog_header_color;
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
        }

        .dialog__footer {
            background-color: $dialog_footer_bg;
            border-top: $dialog_footer_border;
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }
    }

    &__content {
        background-color: $dialog_content_bg;
        border: $dialog_content_border;
        border-radius: $border-radius;
        width: calc(100% - #{$horizontal_padding});
        max-width: 540px;
        position: relative;

        // We use first and last child in case we are using dialog content
        // multiple times, in the example of using a pre header or post footer
        &:first-child {
            margin-top: $vertical_padding * 0.67;
        }

        &:last-child {
            margin-bottom: $vertical_padding * 0.67;
        }

        @media screen and (min-width: $tablet-width) {
            &:first-child {
                margin-top: $vertical_padding * 4;
            }

            &:last-child {
                margin-bottom: $vertical_padding * 4;
            }
        }

        &--pre {
            border: none;
            background-color: transparent;

            @media screen and (max-width: $mobile-width) {
                border-bottom: $dialog_content_border;
                padding: 0 $horizontal_padding;
            }
        }

        &--post {
            border: none;
            background-color: transparent;
        }
    }

    &__header {
        background-color: $dialog_header_bg;
        border-bottom: $dialog_header_border;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        color: $dialog_header_color;
        position: relative;
    }

    &__body {
        &--center {
            text-align: center;
        }
    }

    &__footer {
        background-color: $dialog_footer_bg;
        border-top: $dialog_footer_border;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }

    &--error {
        .dialog__content {
            border: none;
        }

        .dialog__header {
            background-color: $background_color--delete;
            color: #fff;
            font-weight: $font_weight--bold;

            .dialog-header__action-btn {
                color: #fff;
            }
        }
    }
}

.dialog-header {

    &__title {
        @include font_size($font_size--emphasis);

        &--center {
            text-align: center;
        }

        &--left {
            text-align: left;
        }

        &--right {
            text-align: right;
        }
    }

    &__action {
        top: 0;
        bottom: 0;
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;


        &--left {
            left: 0;
            margin-left: $horizontal_padding * 2;

            @media screen and (min-width: $tablet-width) {
                margin-left: $horizontal_padding * 2;
            }

            .dialog-header__action-btn {
                padding-right: $horizontal_padding;
            }
        }

        &--right {
            right: 0;
            margin-right: $horizontal_padding * 2;

            @media screen and (min-width: $tablet-width) {
                margin-left: $horizontal_padding * 2;
            }

            .dialog-header__action-btn {
                padding-left: $horizontal_padding;
            }
        }
    }

    &__action-btn {
        @include font_size($font_size--normal);

        border: none;
        background-color: transparent;
        color: $dialog_header_action_color;
        cursor: pointer;
        padding: 0;

        &:hover {
            color: darken($font_color--primary, 5%);
        }
    }

}

.dialog-footer {

    @media screen and (max-width: $mobile-width) {
        flex-wrap: nowrap;
    }

    display: flex;
    justify-content: space-between;

    &--reverse {
        flex-direction: row-reverse;
    }

    &--center {
        justify-content: center;
    }

    &__actions {
        white-space: nowrap;
    }
}

.dialog-section {
    &--padded {
        padding: 1rem;

        @media screen and (min-width: $tablet-width) {
            padding: 2rem;
        }
    }
}

/**
 * Body no scroll
 * A class to prevent a the body from scolling while the modal is open
 * Only assign when the modal is open.
 */

.no-scroll {
    overflow: hidden;
    height: 100%;
}
