@import "button";
@import "util";

.form{
    &__group {
        margin-bottom: $vertical_padding;
        &--required {
            .form__label {
                &:after {
                    content: "*";
                    color: $red;
                    display: inline-block;
                    margin-left: $horizontal_padding / 4;
                }
            }
        }
        &--error{
            .form__control {
                input[type="text"],
                input[type="password"],
                input[type="email"],
                select {
                    border-color: $red;
                }
            }
        }
    }

    &__control {
        display: flex;
        input[type="text"],
        input[type="password"],
        input[type="email"] ,
        select {
            border: none;
            border-bottom:1px solid $input_border_color;
            background-color: #fff;
            color: $grey--dark;
            font-size: $font_size;
            line-height: $base-line-height;
            outline: none;
            padding: 0;
            padding-bottom: $vertical_padding / 4;
            transition: border-color 0.3s ease;
            width: 100%;
            &:focus,
            &:focus ~ .input-addon {
                border-color: $grey;
            }
            &::placeholder {
                color: $grey--medium;
            }
        }
        select {
            border-radius: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: $vertical_padding 0;
        }

        &--select {
            position: relative;
            &:after {
                content: "";
                position: absolute;
                right: $horizontal_padding / 2;
                top: 50%;
                margin-top: -4px;
                @include triangle(9px, $grey--dark, down);
            }
        }

        &--radio-btn {
            display: flex;
            margin: $vertical_padding 0;
            label{
                @include btn();
                border-radius: 0;
                border-right-width: 0;
            }
            label:first-of-type, input[type="radio"]:not(:checked) + label:first-of-type{
                border-top-left-radius: $border-radius;
                border-bottom-left-radius: $border-radius;
            }
            label:last-of-type, input[type="radio"]:not(:checked) + label:last-of-type{
                border-top-right-radius: $border-radius;
                border-bottom-right-radius: $border-radius;
                border-right-width: 1px;
            }
            input[type="radio"]{
                @include hidden();
            }
            input[type="radio"]:not(:checked) + label{
                @include transparent();
                border-right-width: 0;
            }
        }

        &--inline {
            ul {
                li {
                    display: inline-block;
                    margin-right: $horizontal_padding;
                }
            }
        }
    }

    &__label{
        font-size: $font_size;
        color: $grey;
        display: block;
    }

    &__error{
        color: $red;
        font-size: $font_size--small;
        line-height: $base-line-height;
        margin-top: $vertical_padding / 4;
    }

    &__help{
        color: $grey--medium;
        font-size: $font_size--small;
        line-height: $base-line-height;
        margin-top: $vertical_padding / 4;
    }
}

.input-addon{
    color: $grey--dark;
    font-size: $font_size;
    border-bottom:1px solid $input_border_color;
    background-color: #fff;
    transition: border-color 0.3s ease;
    &--prefix {
        padding-right: $horizontal_padding / 2;
        order: -1;
    }
    &--suffix {
        padding-left: $horizontal_padding / 2;
    }
}

.control-select{
    &__options{
        background-color: #fff;
        border:1px solid $input_border_color;
        border-top: none;
        border-bottom-right-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        position: absolute;
        top: calc($base-line-height + 1px); // To be set by react component
        left: 0;
        width: 100%;
        max-height: 300px;
        overflow-y: auto;
        display: none;
        z-index: 2;
    }
    &__option{
        padding: $vertical_padding / 2 $horizontal_padding;
        text-align: left;
        &--focused, &:hover, &:focus{
            background-color: $grey--light;
            color: $grey--dark;
            cursor: pointer;
        }
        &--selected, &--selected:hover, &--selected:focus{
            background-color: $cyan;
            color: #fff;
            cursor: pointer;
        }
        &--highlighted{
            text-decoration: underline;
            color: $grey--dark;
        }
    }

    &--focus{
        .control-select__options{
            display: block;
        }
        .form__select{
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            border-bottom-color: lighten($input_border_color, 5%);
        }
    }
    &__group{
        &:first-child{
            .control-select__group-heading{
                border-top: none;
            }
        }
    }
    &__group-heading {
        background-color: $grey--lighter;
        border-top: 1px solid $grey--light;
        border-bottom: 1px solid $grey--light;
        text-transform: uppercase;
        font-size: $font_size--small;
        font-weight: bold;
        padding: $vertical_padding / 2 $horizontal_padding;
        text-align: left;
    }
}

[type=submit], button {
    -webkit-appearance: none; // removes Safari's excessive styling on mobile phones
    -webkit-border-radius: 0; // removes Safari's excessive styling on mobile phones
}

