@import "button";
@import "util";

 .form{

    &__group{
        position:relative;
        margin-bottom: $vertical_padding;

        &--error{
            .form__text, .form__select{
                border-color: $red;
                &:focus, *:focus {
                    border: 1px solid $red;
                }
            }

            .form__control{
                &:before{
                    content: "×";
                    font-family: Helvetica, sans-serif;
                    font-size: 1.4em;
                    text-align: center;
                    color: $red;

                    display: inline-block;
                    position: absolute;
                    right: 0.7em;
                    top: 1em;
                    margin-top: -0.7em;
                    line-height: 1.4em;

                    z-index: 1;
                }

            }

            .form__control--select{
                &:after{
                    right: 2em;
                }
            }
            .control-select__options{
                border-color: $red;
            }

        }

        .form__error{
            margin-bottom: $vertical_padding;
            &--tooltip{
                margin-bottom: 0;
            }
        }
    }

    &__control{
        position:relative;

        &--text{

        }

        &--radio-btn{
            display: flex;
            label{
                @include btn();
                border-radius: 0;
                border-right-width: 0;
            }
            label:first-of-type, input[type="radio"]:not(:checked) + label:first-of-type{
                border-top-left-radius: $border-radius;
                border-bottom-left-radius: $border-radius;
            }
            label:last-of-type, input[type="radio"]:not(:checked) + label:last-of-type{
                border-top-right-radius: $border-radius;
                border-bottom-right-radius: $border-radius;
                border-right-width: 1px;
            }
            input[type="radio"]{
                @include hidden();
            }
            input[type="radio"]:not(:checked) + label{
                @include transparent();
                border-right-width: 0;
            }

        }

    }

    &__label{
        display: block;
        padding: 0;
        text-align: left;
        &--inline{
            padding-top: $vertical_padding;
        }
    }

    &__checkbox{
        margin-right: $horizontal_padding;
        position:relative;
        top: -1px;
    }

    &__text{

        font-family: $font_family--primary;
        font-size: $font_size;

        position: relative;
        width:100%;
        margin: 0;
        height: 2.8rem;
        padding: 0 0.6rem;

        border:1px solid $input_border_color;
        border-radius: $border-radius;

        &:placeholder {
            color: $grey--medium;
        }

        &:focus, *:focus {
            outline: none;
            box-shadow: none;
            border: 1px solid $input_focus_color;
        }
    }

    &__select{

        font-family: $font_family--primary;
        font-size: $font_size;

        position: relative;
        width:100%;
        margin: 0;

        height: 2.8rem;

        background-color: #fff;
        border:1px solid $input_border_color;
        border-radius: $border-radius;

        :placeholder {
            color: $grey;
        }

        &:focus, *:focus {
            outline: none;
            box-shadow: none;
            // border: 1px solid $cyan;
        }

    }

    &__error{
        color: $red;
        background-color: lighten($red, 50%);
        border-radius: $border-radius;
        text-align: left;

        padding: $vertical_padding $horizontal_padding;

        &--tooltip{
            display: none;
            opacity: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            padding: $vertical_padding / 2 $horizontal_padding;

            color: #fff;
            background-color: $error_background;
            border:1px solid $error_background;

            border-radius: $border-radius;

            transition: opacity 0.2s ease-in-out;

            &:after{
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                bottom: -6px;
                left: $vertical_padding;
                // @include triangle(12px, $error_background, down);



            }
        }
        &--tooltip-on{
            display: inline-block;
            opacity: 1;
        }
    }

    &__help{
        color: $grey--medium;
        font-size: $font_size--small;
        text-align: left;
        padding: $vertical_padding / 2 0;

        &--tooltip{
            display: none;
            opacity: 0;
            position: absolute;
            bottom: 0;
            color: #fff;
            background-color: rgba(0,0,0,0.8);
            border-radius: $border-radius;
            padding: $vertical_padding / 2 $horizontal_padding;
            transition: opacity 0.2s ease-in-out;

            &:after{
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                bottom: -6px;
                left: $vertical_padding;
                // @include triangle(12px, rgba(0,0,0,0.8), down);
            }
        }

        &--tooltip-on{
            display: block;
            opacity: 1;
        }


    }

}

.control-select{
    &__options{
        background-color: #fff;
        border:1px solid $input_border_color;
        border-top: none;
        border-bottom-right-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        position: absolute;
        top: 0; // To be set by react component
        left: 0;
        width: 100%;
        max-height: 300px;
        overflow-y: auto;
        display: none;
        z-index: 2;
    }
    &__option{
        color: $grey;
        padding: $vertical_padding / 2 $horizontal_padding;
        text-align: left;
        &--focused, &:hover, &:focus{
            background-color: $grey--light;
            color: $grey--dark;
            cursor: pointer;
        }
        &--selected, &--selected:hover, &--selected:focus{
            background-color: $cyan;
            color: #fff;
            cursor: pointer;
        }
        &--highlighted{
            text-decoration: underline;
            color: $grey--dark;
        }
    }

    &--focus{
        .control-select__options{
            display: block;
        }
        .form__select{
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            border-bottom-color: lighten($input_border_color, 5%);
        }
    }
    &__group{
        &:first-child{
            .control-select__group-heading{
                border-top: none;
            }
        }
    }
    &__group-heading {
        background-color: $grey--lighter;
        border-top: 1px solid $grey--light;
        border-bottom: 1px solid $grey--light;
        color: $grey;
        text-transform: uppercase;
        font-size: $font_size--small;
        font-weight: bold;
        padding: $vertical_padding / 2 $horizontal_padding;
        text-align: left;
    }
}

.control-radio{
    &__options{
        list-style: none;
        padding-left: 0;
    }
    &__label{
        margin-left: $horizontal_padding / 2;
    }
}
