/** ---- GRID ----
 * CSS styles used to format grid layouts.
 */

// $neat-grid: (
//     columns: $grid-columns,
//     gutter: 20px,
// );

.grid{
    @include grid-container;

    @for $i from 1 through $grid-columns {
        &__span-#{$i}{
            @include grid-column($i);
        }
    }

    &--collapse{

        @for $i from 1 through $grid-columns {
            > .grid__span-#{$i}{
                width: (100 * ($i / $grid-columns)) * 1%;
                @include grid-collapse;
            }
        }
    }
    &--break-mobile{
        @media screen and (max-width: $mobile-width) {
            @for $i from 1 through $grid-columns {
                > .grid__span-#{$i}{
                    float: none;
                    margin-right: auto;
                    width: auto;
                }
            }
        }
    }
}
//
// .pull-right{
//     float: right;
// }
//
// .pull-left{
//     float: left;
// }



// .grid{
//     @include $neat-grid;
// }
