@charset "UTF-8";

@import "../lib/grid";


/**
 * ---- GRID ----
 *
 * CSS styles used to format grid layouts.
 */

$base-grid: (
    columns: $grid-columns,
    gutter: 20px,
);

$collapse-grid: (
    columns: $grid-columns,
    // Use a really low value to pretend a 0 value and avoid a "0px == 0"
    // deprecation warning in SASS
    gutter: 0.00001px,
);

.grid {
    @include grid-container;
    @include grid-collapse($base-grid);

    @for $i from 1 through $grid-columns {
        &__span-#{$i} {
            @include grid-column($i, $base-grid);
        }
    }

    @for $i from 1 through $grid-columns {
        &__shift-#{$i} {
            @include grid-shift($i, $base-grid);
        }
    }

    @for $i from 1 through $grid-columns {
        &__unshift-#{$i} {
            @include grid-shift(-$i, $base-grid);
        }
    }

    @for $i from 1 through $grid-columns {
        &__push-#{$i} {
            @include grid-push($i, $base-grid);
        }
    }

    @for $i from 1 through $grid-columns {
        &__pull-#{$i} {
            @include grid-push(-$i, $base-grid);
        }
    }

    &--collapse {
        @include grid-collapse($collapse-grid);

        @for $i from 1 through $grid-columns {
            > .grid__span-#{$i} {
                @include grid-column($i, $collapse-grid);
            }
        }

        @for $i from 1 through $grid-columns {
            > .grid__shift-#{$i} {
                @include grid-shift($i, $collapse-grid);
            }
        }

        @for $i from 1 through $grid-columns {
            > .grid__unshift-#{$i} {
                @include grid-shift(-$i, $collapse-grid);
            }
        }

        @for $i from 1 through $grid-columns {
            > .grid__push-#{$i} {
                @include grid-push($i, $collapse-grid);
            }
        }

        @for $i from 1 through $grid-columns {
            > .grid__pull-#{$i} {
                @include grid-push(-$i, $collapse-grid);
            }
        }
    }

    &--break-mobile {
        @media screen and (max-width: $mobile-width) {

            margin-left: 0;
            margin-right: 0;
            width: 100%;

            @for $i from 1 through $grid-columns {
                > .grid__span-#{$i} {
                    float: none;
                    margin: 0;
                    position: static;
                    width: 100%;
                }
            }
        }
    }
}
