@charset "UTF-8";

/**
 * Label
 */

$label-padding: 0.5em;

@mixin label() {
    color: #fff;
    background-color: $grey--medium;
    display: inline-block;
    border-radius: $border-radius;
    padding-left: $label-padding;
    padding-right: $label-padding;
    white-space: nowrap;
}

.label {
    @include label();

    &--primary {
        background-color: $background_color--primary;
    }

    &--success {
        background-color: $background_color--create;
    }

    &--warning {
        background-color: $background_color--change;
    }

    &--danger {
        background-color: $background_color--delete;
    }
}
