/*
 * Menu
 */

$menu_background_color: $grey--lighter;
$menu_link_color: $grey--dark;
$menu_link_background_color: transparent;
$menu_link_background_color_hover: $grey--light;
$menu_link_background_color_active: $grey--light;

.menu{
    background-color: $menu_background_color;

    &__container{
        @media screen and (max-width: $mobile-width) {
            background-color: $menu_background_color;
            padding: 0;
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: left 0.3s ease-out, opacity 0.3s ease-out;

            .menu__item{
                float: none;
            }
            .menu__sub-nav{
                position: static;
            }
        }
        &--mobile-active{
            left: 0;
            opacity: 1;
        }
    }

    &__item{
        display: block;
        float: left;

        &--open{
            display: inline-block;
            @media screen and (min-width: $tablet-width) {
                display: none;
            }
        }
        &--close{
            @media screen and (min-width: $tablet-width) {
                display: none;
            }
        }
        &--sub-nav{
            &:hover{
                .menu__sub-nav{
                    display: block;
                }
            }
        }
    }

    &__sub-nav{
        padding: 0;
        display: none;
        position: absolute;
        width: auto;
        background-color: $menu_background_color;

        .menu__item{
            float: none;
        }
    }

    &:after{
        content: "";
        display: block;
        clear: both;
    }
}

.menu-item{
    &__link{
        color: $menu_link_color;
        background-color: $menu_link_background_color;
        padding: $vertical_padding $horizontal_padding;
        display: block;

        &:hover{
            background-color: $menu_link_background_color_hover;
        }

        &--active{
            background-color: $menu_link_background_color_active;
        }

        &--drop-arrow{
            &:after{
                content: "";
                top: $vertical_padding;
                left: $horizontal_padding / 2;
                position: relative;
                @include triangle(8px, $grey, down);

            }
        }
    }
    
}
