/*
 * Menu
 */

.menu{
    background-color: $menu_background_color;

    &__container{
        padding: 0;

        @media screen and (max-width: $mobile-width) {
            background-color: $menu_background_color;
            position: fixed;
            z-index: 10;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            transition: left 0.3s ease;
            overflow-y: scroll;

            .menu__item{
                float: none;
            }
            .menu__sub-nav{
                position: static;
            }
        }

        &--mobile-right{
            @media screen and (max-width: $mobile-width) {
                left: 100%;
            }
        }

        &--mobile-active{
            left: 0;
        }

        &:after{
            content: "";
            display: block;
            clear: both;
        }
    }

    &__item{
        position: relative;
        display: block;
        float: left;

        &--open{
            display: inline-block;
            @media screen and (min-width: $tablet-width) {
                display: none;
            }
        }
        &--open-right{
            float: right;
        }
        &--close{
            @media screen and (min-width: $tablet-width) {
                display: none;
            }
        }
        &--close-right{
            text-align: right;
        }
        &--sub-nav{
            &:hover{
                .menu__sub-nav{
                    display: block;
                }
            }
        }
    }

    &__sub-nav{
        padding: 0;
        display: none;
        position: absolute;
        width: auto;
        background-color: $menu_background_color;
        z-index: 10;

        @media screen and (min-width: $tablet-width) {
            min-width: $menu_subnav_min_width;
        }
        .menu__item{
            float: none;
        }
    }

    &:after{
        content: "";
        display: block;
        clear: both;
    }
}

.menu-item{

    &--right {
        @media screen and (min-width: $tablet-width) {
            float: right;
            .menu__sub-nav{
                right: 0;
            }
        }
    }

    &__link{
        position: relative;
        color: $menu_link_color;
        background-color: $menu_link_background_color;
        padding: $vertical_padding $horizontal_padding;
        display: block;

        &:hover{
            background-color: $menu_link_background_color_hover;
        }

        &--active{
            background-color: $menu_link_background_color_active;
        }

        &--drop-arrow{

            &:after{
                content: "";
                display: inline-block;
                top: - $vertical_padding / 4;
                position: relative;
                margin-left: $horizontal_padding / 2;
                @include triangle(8px, $menu_link_color, down);
            }
        }
    }
}
