@import "mixin";

/**
 * Modal
 *
 *
 * <div class="modal">
 *     <div class="modal__wrapper modal__wrapper--small">
 *         <div class="modal__content">
 *             <div class="modal__header">
 *                 <h3>Modal title</h3>
 *             </div>
 *             <div class="modal__body">
 *                 Modal body
 *             </div>
 *             <div class="modal__footer">
 *                 <button class="btn btn--primary">Save</button>
 *                 <button class="btn">Cancel</button>
 *             </div>
 *         </div>
 *         <div class="modal__sub-footer text-center">
 *             <button class="btn btn--primary btn--full-width btn--large btn--margin-bottom">Sign up free</button>
 *             <p class="small text-grey-light">Already have an account? <a href="">Sign in</a></p>
 *         </div>
 *     </div>
 * </div>
 *
 */

.modal{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;

    transform: translateY(-100%);
    @include transition(transform 0.2s ease-in-out 0s);

    &--open{
        transform: translateY(0px);
        @include transition(transform 0.3s ease-in-out 0.2s);

        .modal__background{
            bottom: -100%;
            opacity: 1;
            @include transition(
                opacity 0.3s ease-in-out 0s,
                bottom 1ms linear 0s
            );
        }
    }

    &__background{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 102;

        opacity: 0;

        background-color: rgba(0,0,0,0.35);

        @include transition(
            opacity 0.15s ease-in-out 0.2s,
            bottom 1ms linear 0.6s
        );
    }

    &__content{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0 auto;
        position: relative;
        z-index: 103;
        max-height: 100%;

        @include transition(opacity 0.3s ease-in-out);

        @include media($mobile){
            height: 100%;
        }

        @include media($tablet) {
            height: auto;
            border-radius: $border-radius;
            width: 540px;
            padding-top: calc-em($vertical_padding * 2);
            padding-bottom: calc-em($vertical_padding * 2);
        }



        &--small{
            @include media($tablet) {
                width: 360px;
            }
        }

    }
    &__pre-header{
        position: relative;
        padding: calc-em($vertical_padding) calc-em($horizontal_padding);
        margin: 0 auto;

        @include transition(all 0.1s ease-in-out);

        @include media($tablet) {
            padding: calc-em($vertical_padding) 0;
            width: 540px;
        }
        &--small{
            @include media($tablet) {
                width: 360px;
            }
        }
    }

    &__header{
        position: relative;
        background-color: $modal_header_bg;
        border-bottom: $modal_header_border;

        @include media($tablet) {
            @include border-top-radius($border-radius);
        }
    }
    &__body{
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        overflow-y: auto;
        background-color: $modal_content_bg;
        &--padded{
            padding: calc-em($vertical_padding) calc-em($horizontal_padding);
        }
    }
    &__footer{
        position: relative;
        padding: calc-em($vertical_padding) calc-em($horizontal_padding) calc-em($vertical_padding) calc-em($horizontal_padding);
        background-color: $modal_footer_bg;
        border-top: $modal_footer_border;

        @include media($tablet) {
            position: relative;
            @include border-bottom-radius($border-radius);
        }
    }
    &__sub-footer{
        position: relative;
        padding: 0 calc-em($horizontal_padding) calc-em($vertical_padding) calc-em($horizontal_padding);
        margin: 0 auto;
        @include transition(all 0.1s ease-in-out);

        @include media($tablet) {
            position: relative;
            padding: calc-em($vertical_padding) 0;
            width: 540px;
        }
        &--small{
            @include media($tablet) {
                width: 360px;
            }
        }
    }

    &__close{
        display: block;
        position: absolute;
        top: 50%;
        right: calc-em($horizontal_padding);
        z-index: 102;

        @include transition(background-color 0.2s ease-in-out);

        &:after{
            content: "×";
            display: block;
            color: $grey;
            font-size: calc-em($font_size * 1.6);
            text-align: center;
            position: relative;
            top: 50%;
            margin-top: - calc-em($font_size / 2);
        }
        &:hover{
            &:after{
                color: $black;
            }

        }

        @include media($tablet) {
            &:after{
                color: $grey--medium;
            }
        }
    }

    &__back{
        display: block;
        position: absolute;
        top: 50%;
        left: calc-em($horizontal_padding);
        z-index: 102;
        text-align: center;

        span{
            font-size: calc-em($font_size * 2);
            color: $grey;

            position: relative;
            top: 0.22em;

            @include media($tablet) {
                color: $grey--medium;
            }
        }


        @include transition(background-color 0.2s ease-in-out);

        &:hover{
            span{
                color: $black;
            }
        }

        @include media($tablet) {
            &:after{
                color: $grey--medium;
            }
        }
    }

    // Make modal full screen

    &--full-screen{
        .modal__content{
            background-color: transparent;
        }
        @include media($tablet) {
            .modal__body{
                padding: 0;
            }
        }
        &:after{
            background-color: #fff;
        }
    }
}

.modal-header{
    &__title{
        text-align: center;
    }
    &__action{
        top: 0;
        bottom: 0;
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        &--left{
            left: 0;
        }
        &--right{
            right: 0;
        }
    }
    &__action-btn{
        -webkit-appearance: value;
        -moz-appearance:    value;
        appearance:         value;
        color: $font_color--primary;
        padding: calc-em($horizontal_padding) calc-em($vertical_padding);
        background: transparent;
        border: none;
        &:hover{
            cursor: pointer;
            color: darken($font_color--primary, 10%);
        }
    }
}

/**
 * Body no scroll
 * A class to prevent a the body from scolling while the modal is open
 * Only assign when the modal is open.
 */

.no-scroll{
    overflow: hidden;
    height: 100%;
}
