@import "mixin";

/**
 * Modal
 *

<div class="modal modal--open">
    <div class="modal__content">
        <div class="modal__header modal-header">
            <div class="modal-header__action modal-header__action--left">
                <a href="#" class="modal-header__action-btn">
                    <span class="fa fa-chevron-left"></span>
                    Previous
                </a>
            </div>
            <div class="modal-header__title">
                <h3>Modal title</h3>
            </div>
            <div class="modal-header__action modal-header__action--right">
                <a href="#" class="modal-header__action-btn">
                    Next
                    <span class="fa fa-chevron-right"></span>
                </a>
            </div>
        </div>
        <div class="modal__body modal__body--padded">
            <p>Pariatur aute exercitation excepteur labore dolor in minim enim
            cupidatat do qui amet ea id dolore eu. Aliquip proident ut ut
            mollit enim labore exercitation reprehenderit magna duis velit
            cupidatat do. Laboris amet et cupidatat ipsum et magna nostrud
            adipisicing ipsum est fugiat.</p>
        </div>
        <div class="modal__footer">
            <button class="btn btn--primary">Save</button>
            <button class="btn close-modal">Cancel</button>
        </div>
    </div>
</div>

 */

.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;

    &--open{
        padding-top: calc-em($vertical_padding * 3);
        padding-bottom: calc-em($horizontal_padding / 2);
        padding-left: calc-em($horizontal_padding / 2);
        padding-right: calc-em($horizontal_padding / 2);
        @include display(flex);
        @include justify-content(center);
        @include align-items(flex-start);
        @include media($tablet) {
            overflow-y: auto;
            padding-top: calc-em($vertical_padding * 2);
            padding-bottom: calc-em($vertical_padding * 2);
            padding-left: 0;
            padding-right: 0;
        }
        &:after{
            content: "";
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.35);
            z-index: -1;
        }
    }

    &__content{
        border-radius: $border-radius;
        position: relative;

        @include media($mobile){
            @include display(flex);
            @include flex-direction(column);
            height: 100%;
        }

        @include media($tablet) {
            width: 540px;

        }

        &--small{
            @include media($tablet) {
                width: 360px;
            }
        }

    }
    &__pre-header{
        position: relative;
        padding: calc-em($vertical_padding) calc-em($horizontal_padding);
        margin: 0 auto;

        @include transition(all 0.1s ease-in-out);

        @include media($tablet) {
            padding: calc-em($vertical_padding) 0;
            width: 540px;
        }
        &--small{
            @include media($tablet) {
                width: 360px;
            }
        }
    }

    &__header{
        position: relative;
        background-color: $modal_header_bg;
        border-bottom: $modal_header_border;
        @include border-top-radius($border-radius);
    }
    &__body{
        background-color: $modal_content_bg;
        @include media($mobile) {
            overflow-y: auto;
        }
        &--padded{
            padding: calc-em($vertical_padding) calc-em($horizontal_padding);
        }
    }
    &__footer{
        position: relative;
        padding: calc-em($vertical_padding) calc-em($horizontal_padding) calc-em($vertical_padding) calc-em($horizontal_padding);
        background-color: $modal_footer_bg;
        border-top: $modal_footer_border;
        @include border-bottom-radius($border-radius);
    }
    &__sub-footer{
        position: relative;
        padding: 0 calc-em($horizontal_padding) calc-em($vertical_padding) calc-em($horizontal_padding);
        margin: 0 auto;
        @include transition(all 0.1s ease-in-out);

        @include media($tablet) {
            position: relative;
            padding: calc-em($vertical_padding) 0;
            width: 540px;
        }
        &--small{
            @include media($tablet) {
                width: 360px;
            }
        }
    }

    &__close{
        display: block;
        position: absolute;
        top: 50%;
        right: calc-em($horizontal_padding);
        z-index: 102;

        @include transition(background-color 0.2s ease-in-out);

        &:after{
            content: "×";
            display: block;
            color: $grey;
            font-size: calc-em($font_size * 1.6);
            text-align: center;
            position: relative;
            top: 50%;
            margin-top: - calc-em($font_size / 2);
        }
        &:hover{
            &:after{
                color: $black;
            }

        }

        @include media($tablet) {
            &:after{
                color: $grey--medium;
            }
        }
    }

    &__back{
        display: block;
        position: absolute;
        top: 50%;
        left: calc-em($horizontal_padding);
        z-index: 102;
        text-align: center;

        span{
            font-size: calc-em($font_size * 2);
            color: $grey;

            position: relative;
            top: 0.22em;

            @include media($tablet) {
                color: $grey--medium;
            }
        }


        @include transition(background-color 0.2s ease-in-out);

        &:hover{
            span{
                color: $black;
            }
        }

        @include media($tablet) {
            &:after{
                color: $grey--medium;
            }
        }
    }

    // Make modal full screen

    &--full-screen{
        .modal__content{
            background-color: transparent;
        }
        @include media($tablet) {
            .modal__body{
                padding: 0;
            }
        }
        &:after{
            background-color: #fff;
        }
    }
}

.modal-header{
    &__title{
        text-align: center;
    }
    &__action{
        top: 0;
        bottom: 0;
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        &--left{
            left: 0;
        }
        &--right{
            right: 0;
        }
    }
    &__action-btn{
        color: $font_color--primary;
        padding: calc-em($horizontal_padding) calc-em($vertical_padding);
        background: transparent;
        border: none;
        &:hover{
            cursor: pointer;
            color: darken($font_color--primary, 10%);
        }
    }
}

/**
 * Body no scroll
 * A class to prevent a the body from scolling while the modal is open
 * Only assign when the modal is open.
 */

.no-scroll{
    overflow: hidden;
    height: 100%;
}
