@charset "UTF-8";

/**
 * Table
 *
 */

.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    @for $i from 1 through $grid-columns {
        td.span-#{$i}, th.span-#{$i} {
            width: 100% / ($grid-columns / $i);
        }
    }

    &--clickable {
        > thead, > tbody, > tfoot {
            > tr > td {
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    &--stack-mobile {
        @media screen and (max-width: $mobile-width) {
            > thead {
                display: none;
            }
            > thead, > tbody, > tfoot {
                > tr {
                    display: block;
                    margin-bottom: $vertical_padding;
                    margin-left: $horizontal_padding;
                    margin-right: $horizontal_padding;
                    border: 1px solid $table-row-border-color;
                    border-bottom: none;
                    border-radius: $border-radius;

                    > th {
                        display: none;
                    }

                    > td {
                        display: block;
                        text-align: right;

                        &:before {
                            display: block;
                            float: left;
                            font-weight: $font_weight--bold;
                            content: attr(data-header);
                        }
                    }
                }
            }
        }
    }

    &--striped {
        > thead, > tbody, > tfoot {
            > tr {
                &:nth-child(odd) > td {
                    background-color: $table-row-background-color-even;
                }
            }
        }
    }

    > thead, > tbody, > tfoot {
        > tr {
            background-color: #fff;

            &:hover, &:active, &:focus {
                > td{
                    background-color: $table-row-background-color-hover;
                }
            }

            > th {
                background-color: $table-header-background-color;
                padding: 0.5rem 1rem;
                font-weight: 500;
                text-align: left;
                transition: background-color $animation-speed--fast ease ;
            }

            > td {
                padding: 0.5rem 1rem;
                border-bottom: 1px solid $table-row-border-color;
                background-color: $table-cell-background-color;
            }
        }
    }

    > thead {
        > th {
            padding: 1rem 1rem;
        }
    }

    > tfoot {
        > th {
            padding: 1rem 1rem;
        }
    }
}
