/**
 * Text
 *
 */

html{
    font-size: $font_size;
}

body {
    color: $font_color;
    font-family: $font_family--primary;
    font-size: 100%;
    font-style: normal;
    font-weight: $font_weight;
    line-height: $base-line-height;
}

p {
    margin: 1em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font_family--heading;
    line-height: $base-line-height;
    margin: 0.5em 0;
}

/**
 * Font-calculated using type-scale 1.250 (Major Third)
 * http://type-scale.com/
 */


h1 {
    font-size: $h1-ratio;
    font-weight: $h1-weight;
    line-height: $h1-line-height;
}

h2 {
    font-size: $h2-ratio;
    font-weight: $h2-weight;
    line-height: $h2-line-height;
}

h3 {
    font-size: $h3-ratio;
    font-weight: $h3-weight;
    line-height: $h3-line-height;
}

h4 {
    font-size: $h4-ratio;
    font-weight: $h4-weight;
    line-height: $h4-line-height;
}

h5 {
    font-size: $h5-ratio;
    font-weight: $h5-weight;
    line-height: $h5-line-height;
}

h6 {
    font-size: $h6-ratio;
    font-weight: $h6-weight;
    line-height: $h6-line-height;
}

small {
    font-size: $font-size--small;
    color: $grey--medium;
}

b, strong{
    font-weight: bold;
}

i, em{
    font-style: italic;
}

a {
    color: $font_color--primary;
    text-decoration: none;

    &:hover, &:focus {
        text-decoration: none;
    }
}


ul,
ol {
    padding-left: calc-em($horizontal_padding * 2);
}

ul{
    list-style-type: disc;
}

ol{
    list-style-type: decimal;
}

figure{
    margin: calc-em($vertical_padding * 2) 0 ;
}

blockquote {

    color: $grey;
    font-family: $font_family--serif;
    font-style: italic;
    font-size: $font_size * 1.25;
    line-height: calc-em($font_size * 1.25 * 1.25);

    border-left: 4px solid $grey--medium;
    margin: calc-em($vertical_padding) 0;
    padding-left: calc-em($horizontal_padding);
}

figcaption {
    padding-left: calc-em($horizontal_padding + 4);
    margin-left: calc-em($horizontal_padding);
    font-family: $font_family--serif;
}

hr {
    border-style: none;
    border-top: 1px solid $grey--light;

    padding: 0;
    margin: calc-em($vertical_padding * 4) 0;
}


.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.text-strong{
    font-weight: 700;
}

.text-italic{
    font-style: italic;
}
