/**
 * Tooltip
 */

@mixin tooltip(){
    background-color: rgba(0,0,0,0.75);
    padding: $vertical_padding / 2 $horizontal_padding / 1.4;
    border-radius: $border-radius;
    white-space: nowrap;
    content: attr(data-tooltip);
    color: #fff;
    text-transform: none;
}

@mixin tooltip-arrow-left{
    content: '';
    @include triangle(10px, rgba(0,0,0,0.75), right);
}

@mixin tooltip-arrow-right{
    content: '';
    @include triangle(10px, rgba(0,0,0,0.75), left);
}

@mixin tooltip-arrow-top{
    content: '';
    @include triangle(10px, rgba(0,0,0,0.75), down);
}

@mixin tooltip-arrow-bottom{
    content: '';
    @include triangle(10px, rgba(0,0,0,0.75), up);
}

.tooltip{
    position: relative;
    &:before{
        @include tooltip();
        z-index: 99;
    }
    &:after{
        z-index: 99;
    }
    &:before, &:after{
        position: absolute;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transform: translate3d(0,0,0);
        transition: all 0.3s ease-in-out;
    }
    &:hover{
        &:before, &:after{
            visibility: visible;
            opacity: 1;
        }
    }
    &--top-left{
        &:before{
            bottom: 100%;
            left: 0;
        }
        &:after{
            top: 0;
            left: $horizontal_padding;
            @include tooltip-arrow-top;
        }
        &:hover{
            &:before, &:after{
                transform: translateY(-6px);
            }
        }
    }
    &--bottom-left{
        &:before{
            top: 100%;
            left: 0;
        }
        &:after{
            bottom: 0;
            left: $horizontal_padding;
            @include tooltip-arrow-bottom;
        }
        &:hover{
            &:before, &:after{
                transform: translateY(6px);
            }
        }
    }
    &--top-right{
        &:before{
            bottom: 100%;
            right: 0;
        }
        &:after{
            top: 0;
            right: $horizontal_padding;
            @include tooltip-arrow-top;
        }
        &:hover{
            &:before, &:after{
                transform: translateY(-6px);
            }
        }
    }
    &--bottom-right{
        &:before{
            top: 100%;
            right: 0;
        }
        &:after{
            bottom: 0;
            right: $horizontal_padding;
            @include tooltip-arrow-bottom;
        }
        &:hover{
            &:before, &:after{
                transform: translateY(6px);
            }
        }
    }
    &--top-center{
        &:before{
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%);
        }
        &:after{
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            @include tooltip-arrow-top;
        }
        &:hover{
            &:before, &:after{
                transform: translate3d(-50%,-6px,0);
            }
        }
    }
    &--bottom-center{
        &:before{
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
        }
        &:after{
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            @include tooltip-arrow-bottom;
        }
        &:hover{
            &:before, &:after{
                transform: translate3d(-50%,6px,0);
            }
        }
    }
    &--small{
        &:hover{
            &:before{
                top: - 1.25rem - $vertical_padding / 2;
                padding: $vertical_padding / 4 $horizontal_padding / 2;
                font-size: $font_size--small;
            }
        }
    }
}
