@charset "UTF-8";

@import "../lib/pow";

// The numbers here define to what power the ratio multiplier is to be raised in order to determine
// the true size for the given keyword size.
$font_size--micro: -2;
$font_size--small: -1;
$font_size--normal: 0;
$font_size--emphasis: 1;
$font_size--medium: 2;
$font_size--large: 3;
$font_size--hero: 4;
$font_size--jumbo: 5;

@mixin font_size($size: $font_size--normal) {
    // Find the font size multiplier by raising the font size ratio multiplier to the power
    // specified by the size in question.
    $multiplier--mobile: pow($font_size_ratio_multiplier--mobile, $size);
    $multiplier--tablet: pow($font_size_ratio_multiplier--tablet, $size);
    $multiplier--desktop: pow($font_size_ratio_multiplier--desktop, $size);

    // Ditto above but for line height, so we only need one "global" multiplier.
    $line_height_multiplier: pow($line_height_ratio_multiplier, $size);

    // Start of actual CSS rules:

    line-height: #{$base_line_height * $line_height_multiplier} !important;

    font-size: #{$multiplier--mobile}rem !important;

    @media screen and (min-width: $tablet-width) {
        font-size: #{$multiplier--tablet}rem !important;
    }

    @media screen and (min-width: $laptop-width) {
        font-size: #{$multiplier--desktop}rem !important;
    }
}

@function line_height($size: $font_size--normal) {
    $line_height_multiplier: pow($line_height_ratio_multiplier, $size);

    @return $base_line_height * $line_height_multiplier
}

/**
 * Text
 *
 */

html {
    font-size: $base_font_size * $font_size_multiplier--mobile;

    @media screen and (min-width: $tablet-width) {
        font-size: #{$base_font_size * $font_size_multiplier--tablet} !important;
    }

    @media screen and (min-width: $laptop-width) {
        font-size: #{$base_font_size * $font_size_multiplier--desktop} !important;
    }
}

body {
    color: $font_color;
    font-family: $font_family--primary;
    font-size: 100%;
    font-style: normal;
    font-weight: $font_weight;
    line-height: $base_line_height;
}

p {
    margin: 1em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font_family--heading;
    margin: 0.5em 0;
}

/**
 * Font-calculated using type-scale 1.250 (Major Third)
 * http://type-scale.com/
 */


h1 {
    @include font_size($font_size--hero);
}

h2 {
    @include font_size($font_size--large);
}

h3 {
    @include font_size($font_size--medium);
}

h4 {
    @include font_size($font_size--emphasis);
}

h5 {
    @include font_size($font_size--normal);
}

h6 {
    @include font_size($font_size--small);
}

small {
    @include font_size($font_size--small);

    color: $grey--medium;
}

b, strong {
    font-weight: $font_weight--bold;
}

i, em {
    font-style: italic;
}

a {
    color: $font_color--primary;
    text-decoration: none;

    &:hover, &:focus {
        text-decoration: none;
    }
}


ul,
ol {
    padding-left: $horizontal_padding * 2;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

figure {
    margin: $vertical_padding * 2 0 ;
}

blockquote {
    @include font_size($font_size--emphasis);

    color: $grey;
    font-family: $font_family--serif;
    font-style: italic;

    border-left: 4px solid $grey--medium;
    margin: $vertical_padding 0;
    padding-left: $horizontal_padding;
}

figcaption {
    padding-left: $horizontal_padding;
    margin-left: $horizontal_padding;
    font-family: $font_family--serif;
}

hr {
    border-style: none;
    border-top: 1px solid $grey--light;

    padding: 0;
    margin: $vertical_padding * 4 0;
}


/*
 * Text styles
 */

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-justify {
    text-align: justify !important;
    text-justify: inter-word !important;
}

.text-strong {
    font-weight: 700 !important;
}

.text-italic {
    font-style: italic !important;
}

.text-cap {
    font-variant: small-caps !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.text-lowercase {
    text-transform: lowercase !important;
}

.text-capitalize {
    text-transform: capitalize !important;
}

/*
 * Text sizes
 */

.text-jumbo {
    @include font_size($font_size--jumbo);
}
.text-hero {
    @include font_size($font_size--hero);
}
.text-large {
    @include font_size($font_size--large);
}
.text-medium {
    @include font_size($font_size--medium);
}
.text-emphasis {
    @include font_size($font_size--emphasis);
}
.text-normal {
    @include font_size($font_size--normal);
}
.text-small {
    @include font_size($font_size--small);
}
.text-micro {
    @include font_size($font_size--micro);
}

/*
 * Text colours
 */

.text-default {
    color: $font_color !important;
}
.text-cyan {
    color: $cyan !important;
}
.text-red {
    color: $red !important;
}
.text-green {
    color: $green !important;
}
.text-orange {
    color: $orange !important;
}
.text-grey--dark {
    color: $grey--dark !important;
}
.text-grey {
    color: $grey !important;
}
.text-grey--medium {
    color: $grey--medium !important;
}
.text-grey--light {
    color: $grey--light !important;
}
.text-grey--lighter {
    color: $grey--lighter !important;
}
.text-white {
    color: #fff !important;
}
