/*
 * Util mixins and classes
 *
 */

/*
 * Completely hide the content using display none.
 */

@mixin hidden(){
    display: none !important;
}

.hidden{
    @include hidden();
}

.hidden-mobile{
    @media screen and (max-width: $mobile-width) {
        @include hidden();
    }
}

.hidden-tablet{
    @media screen and (min-width: $tablet-width) {
        @include hidden();
    }
}

.hidden-laptop{
    @media screen and (min-width: $laptop-width) {
        @include hidden();
    }
}

.hidden-desktop{
    @media screen and (min-width: $desktop-width) {
        @include hidden();
    }
}

/*
 * Hide for screen readers bu pushing the content away from the viewport.
 */

@mixin hiddenSR(){
    position: absolute !important;
    left: -10000px !important;
    top: auto !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
}

.hidden-sr{
    @include hiddenSR();
}

.hidden-sr-mobile{
    @media screen and (max-width: $mobile-width) {
        @include hiddenSR();
    }
}

.hidden-sr-tablet{
    @media screen and (min-width: $tablet-width) {
        @include hiddenSR();
    }
}

.hidden-sr-laptop{
    @media screen and (min-width: $laptop-width) {
        @include hiddenSR();
    }
}

.hidden-sr-desktop{
    @media screen and (min-width: $desktop-width) {
        @include hiddenSR();
    }
}
