/**
 * Base settings
 */


/**
 * Colors
 */

$cyan: #00abd3;
$red: #d50000;
$green: #00b100;
$orange: #ff8a00;
$grey: #666666;
$grey--dark: #333333;
$grey--medium: #aaaaaa;
$grey--light: #eeeeee;
$grey--lighter: #fafafa;
$black: #000000;

$background_color: #ffffff;
$background_color--primary: $cyan;
$background_color--create: $green;
$background_color--change: $orange;
$background_color--cancel: $grey;
$background_color--delete: $red;


/**
 * Typography
 */

$font_family--primary: "Lucida Grande", sans-serif !default;
$font_family--heading: "Helvetica Neue", sans-serif !default;
$font_family--serif: Georgia, serif !default;
$font_family--monospace: Consolas, "Liberation Mono", Menlo, Courier, monospace !default;

$font_color: #444444;
$font_color--primary: $cyan;
$font_color--light: $grey--light;

$font_size: 13px;
$font_size--small: 12px;
$font_size--large: 18px;

$font_size_mobile: 15px;
$font_size_mobile--small: 13px;

$font_weight: 400;
$font_weight--bold: 700;

$base-line-height: 1.5em;

$h1-ratio: 2.441;
$h2-ratio: 1.953;
$h3-ratio: 1.563;
$h4-ratio: 1.25;
$h5-ratio: 1;
$h6-ratio: 1;

$h1-weight: 400;
$h2-weight: 400;
$h3-weight: 400;
$h4-weight: 400;
$h5-weight: 400;
$h6-weight: 400;


/**
 * Layout
 */

$vertical_padding: 12px;
$horizontal_padding: 16px;

$border-radius: 4px;

/**
 * Modal
 */

$modal_content_bg: #ffffff;
$modal_header_bg: #f4f4f4;
$modal_footer_bg: #ffffff;

$modal_header_border: none;
$modal_footer_border: none;

/**
 * Form
 */

$input_border_color: #dddddd;
$input_focus_color: #666666;
$error_background: rgba(213, 0, 0, 0.8);

/**
 * Breakpoints
 */

/* Mobile */
$mobile-width: 767px;
$mobile: new-breakpoint(max-width $mobile-width);

/* Tablet */
$tablet-width: 768px;
$tablet: new-breakpoint(min-width $tablet-width);

/* Desktop */
$desktop-width: 1024px;
$desktop: new-breakpoint(min-width $desktop-width + 1);

/**
 * Grid
 */

$grid-columns: 12 !default;