/**
 *
 * All animations must live in their own file
 * in the animations directory and be included
 * here.
 *
 */


@-webkit-keyframes rotate {
  /* line 150, /Users/Connor/Repos/personal/personal-website/bower/loaders.css/loaders.css */
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  /* line 154, /Users/Connor/Repos/personal/personal-website/bower/loaders.css/loaders.css */
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }

  /* line 158, /Users/Connor/Repos/personal/personal-website/bower/loaders.css/loaders.css */
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate {
  /* line 206, /Users/Connor/Repos/personal/personal-website/bower/loaders.css/loaders.css */
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  /* line 210, /Users/Connor/Repos/personal/personal-website/bower/loaders.css/loaders.css */
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }

  /* line 214, /Users/Connor/Repos/personal/personal-website/bower/loaders.css/loaders.css */
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }