@import "../settings";


body, html { height:100%; }
body {
    background-color: $background_color;
    color: $font_color;
    font-family: $font_family--primary;
    font-weight: $font_weight;
    font-size: $font_size;
    line-height: $base-line-height;
    overflow-x: hidden;
    text-align: left;

    @include media($mobile) {
        font-size: $font_size_mobile;
    }
}