@import "mixin";
@import "animation";

/**
 * Btn - Standard button mixin.
 */

@mixin btn(
    $background_color: #666, 
    $text_color: #fff, 
    $font_family: $font_family--primary,
    $font_size: $font_size, 
    $font_weight: normal, 
    $height: 2em, 
    $border_radius: $border-radius) {
    
    cursor: pointer;
    display: inline-block;
    position: relative;

    outline: none;
    border: none;
    vertical-align: middle;
    background-color: $background_color;
    color: $text_color;

    padding: calc-em($vertical_padding) calc-em($horizontal_padding);

    font-family: $font_family;
    font-size: calc-em($font_size);
    font-weight: $font_weight;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    border-radius: $border_radius;

    user-select: none;
    @include transition(background-color 0.2s ease-in-out);

    &:hover {
        background-color: lighten($background-color, 3%);
        text-decoration: none;
        color: $text_color;
    }
    
    &:active{
        background-color: darken($background-color, 3%);
    }

    &[disabled]{
        opacity: 0.5;
        cursor: auto;
    }
}

/**
 * Btn - Standard button component style.
 */

.btn {
    @include btn();

    &--primary{
        background-color: $background_color--primary;
        &:hover {
            background-color: lighten($background_color--primary, 3%);
        }
        &:active{
            background-color: darken($background_color--primary, 3%);
        }
        &[disabled]{
            &:hover {
                background-color: $background_color--primary;
            }
        }
        &.btn--transparent{
            border-color: $background_color--primary;
            color: $background_color--primary;
            &:hover {
                border-color: lighten($background_color--primary, 3%);
                color: lighten($background_color--primary, 3%);
            }
        }
    }

    &--create{
        background-color: $background_color--create;
        &:hover {
            background-color: lighten($background_color--create, 3%);
        }
        &:active{
            background-color: darken($background_color--create, 3%);
        }
        &[disabled]{
            &:hover {
                background-color: $background_color--create;
            }
        }
        &.btn--transparent{
            border-color: $background_color--create;
            color: $background_color--create;
            &:hover {
                border-color: lighten($background_color--create, 3%);
                color: lighten($background_color--create, 3%);
            }
        }
    }

    &--change{
        background-color: $background_color--change;
        &:hover {
            background-color: lighten($background_color--change, 3%);
        }
        &:active{
            background-color: darken($background_color--change, 3%);
        }
        &[disabled]{
            &:hover {
                background-color: $background_color--change;
            }
        }
        &.btn--transparent{
            border-color: $background_color--change;
            color: $background_color--change;
            &:hover {
                border-color: lighten($background_color--change, 3%);
                color: lighten($background_color--change, 3%);
            }
        }
    }

    &--cancel{
        background-color: $background_color--cancel;
        &:hover {
            background-color: lighten($background_color--cancel, 3%);
        }
        &:active{
            background-color: darken($background_color--cancel, 3%);
        }
        &[disabled]{
            &:hover {
                background-color: $background_color--cancel;
            }
        }
        &.btn--transparent{
            border-color: $background_color--cancel;
            color: $background_color--cancel;
            &:hover {
                border-color: lighten($background_color--cancel, 3%);
                color: lighten($background_color--cancel, 3%);
            }
        }
    }

    &--delete{
        background-color: $background_color--delete;
        &:hover {
            background-color: lighten($background_color--delete, 3%);
        }
        &:active{
            background-color: darken($background_color--delete, 3%);
        }
        &[disabled]{
            &:hover {
                background-color: $background_color--delete;
            }
        }
        &.btn--transparent{
            border-color: $background_color--delete;
            color: $background_color--delete;
            &:hover {
                border-color: lighten($background_color--delete, 3%);
                color: lighten($background_color--delete, 3%);
            }
        }
    }

    &--transparent{
        background-color: transparent;
        color: $grey;
        border: 1px solid $grey--medium;
        padding: calc-em($vertical_padding - 1) calc-em($horizontal_padding - 1);
        &:hover {
            background-color: transparent;
            color: $font_color--primary;
            border-color: $font_color--primary;
        }
        &.btn--small{
            padding: calc-em(($vertical_padding / 4) - 1) calc-em(($horizontal_padding / 2) - 1);
        }
        &[disabled]{
            cursor: auto;
            background-color: transparent;
            color: $grey;
            border: 1px solid $grey--medium;
            &:hover {
                border-color: $grey--medium;
                color: $grey;
                background-color: transparent;
            }
        }
    }

    &--full-width{
        display: block;
        width:100%;
    }

    &--round{
        border-radius: 50%;
        width: calc-em(($vertical_padding * 2) + $font_size);
        height: calc-em(($vertical_padding * 2) + $font_size);
        padding-left: 0;
        padding-right: 0;
    }

    &--round-large{
        border-radius: 50%;
        width: calc-em(($vertical_padding * 1.4 * 2) + $font_size);
        height: calc-em(($vertical_padding * 1.4 * 2) + $font_size);
        padding-left: 0;
        padding-right: 0;
    }

    &--large{
        padding: calc-em($vertical_padding * 1.4) calc-em($horizontal_padding);
    }

    &--small{
        padding: calc-em($vertical_padding / 4) calc-em($horizontal_padding / 2);

        &.btn--loading{
            &:before{
                height: 12px;
                width: 12px;
                margin-top: - 12px / 2;
                margin-left: - 12px / 2;
            }   
        }
    }

    &--margin-bottom{
        margin-bottom: calc-em($vertical_padding);
    }

    &--loading{

        .btn__text{
            opacity:0;
        }
        &:before{
            content: " ";
            display: inline-block;
            height: ceil(calc-px($base_line_height));
            width: ceil(calc-px($base_line_height));

            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: - $base_line_height / 2;
            margin-left: - $base_line_height / 2;

            border-radius: 100%;
            border: 2px solid #fff;
            border-bottom-color: transparent;
            
            background: transparent !important;

            @include animation(rotate 1s 0s linear infinite);
            
        }
        
    }
}

.btn-group{
    .btn{
        margin-right: calc-em($horizontal_padding);
        &:last-child{
            margin-right: 0;
        }
    }
    .btn--small{
        margin-right: calc-em($horizontal_padding / 2);
    }
}

