/** ---- GRID ----
 * CSS styles used to format grid layouts.
 */

.grid{
    @include outer-container(100%);

    @for $i from 1 through $grid-columns {
        &__span-#{$i}{
            @include span-columns($i);
        }
    }

    &--collapse{

        @for $i from 1 through $grid-columns {
            .grid__span-#{$i}{
                width: (100 * ($i / $grid-columns)) * 1%;
                @include omega;
            }
        }
    }
}

.pull-right{
    float: right;
}

.pull-left{
    float: left;
}