@import "../settings";

// ## Calculates em size based on required pixel size and context.
// $target: (required) Required pixel size
// $context: (optional) Current font size used to calculate em value
// Returns: Em value
@function calc-em($target, $context: $font_size) {
    @return em($target, $context);
}