/**
 * Text
 *
 */

body {
    color: $font_color;
    font-family: $font_family--primary;
    font-size: $font_size;
    font-style: normal;
    font-weight: $font_weight;
    line-height: $base-line-height;

    @include media($mobile) {
        font-size: $font_size_mobile;
    }
}

p {
    margin: calc-em($vertical_padding) 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font_family--heading;
    // padding: calc-em($vertical_padding / 2) 0;
    font-style: normal;
    font-weight: normal;
    line-height: $base-line-height;
}

/**
 * Font-calculated using type-scale 1.250 (Major Third)
 * http://type-scale.com/
 */


h1 {
    font-size: $h1-ratio;
    font-weight: $h1-weight;
    padding: ($base-line-height / $h1-ratio) * 1em 0;
    line-height: ($base-line-height / $h1-ratio) * 2.5em;
}

h2 {
    font-size: $h2-ratio;
    font-weight: $h2-weight;
    padding: ($base-line-height / $h2-ratio) * 1em 0;
    line-height: ($base-line-height / $h2-ratio) * 2em;
}

h3 {
    font-size: $h3-ratio;
    font-weight: $h3-weight;
    padding: ($base-line-height / $h3-ratio) * 1em 0;
    line-height: ($base-line-height / $h3-ratio) * 1.5em;
}

h4 {
    font-size: $h4-ratio;
    font-weight: $h4-weight;
    padding: ($base-line-height / $h4-ratio) * 0.5em 0;
    line-height: ($base-line-height / $h4-ratio) * 1em;
}

h5 {
    font-size: $h5-ratio;
    font-weight: $h5-weight;
    padding: ($base-line-height / $h5-ratio) * 0.5em 0;
    line-height: ($base-line-height / $h5-ratio) * 1em;
}

h6 {
    font-size: $h6-ratio;
    font-weight: $h6-weight;
    padding: ($base-line-height / $h6-ratio) * 0.5em 0;
    line-height: ($base-line-height / $h6-ratio) * 1em;
}

small {
    font-size: $font-size--small;
    color: $grey--medium;
}

b, strong{
    font-weight: bold;
}

i, em{
    font-style: italic;
}

// pre {
//     font-size: calc-em($font_size - 2);
//     border: 1px solid $grey--light;
//     background: $grey--lighter;
//     display: block;
//     border-radius: $border-radius;
//     font-family: $font_family--monospace;
//     padding: 0 calc-em($horizontal_padding);
//     word-break: break-all;
//     word-wrap: break-word;
// }

// code {
//     font-size: calc-em($font_size - 2);
//     background: $grey--lighter;
//     font-family: $font_family--monospace;
//     word-break: break-all;
//     word-wrap: break-word;
// }

// p code{
//     display: inline-block;
//     border: 1px solid $grey--light;
//     border-radius: $border-radius;
// }


a {
    color: $font_color--primary;
    text-decoration: none;

    &:hover, &:focus {
        text-decoration: none;
    }
}


ul,
ol {
    padding-left: calc-em($horizontal_padding * 2);
}

ul{
    list-style-type: disc;
}

ol{
    list-style-type: decimal;
}

figure{
    margin: calc-em($vertical_padding * 2) 0 ;
}

blockquote {
    
    color: $grey;
    font-family: $font_family--serif;
    font-style: italic;
    font-size: $font_size * 1.25;
    line-height: calc-em($font_size * 1.25 * 1.25);

    border-left: 4px solid $grey--medium;
    margin: calc-em($vertical_padding) 0;
    padding-left: calc-em($horizontal_padding);
}

figcaption {
    padding-left: calc-em($horizontal_padding + 4);
    margin-left: calc-em($horizontal_padding);
    font-family: $font_family--serif;
}

hr {
    border-style: none;
    border-top: 1px solid $grey--light;

    padding: 0;
    margin: calc-em($vertical_padding * 4) 0;
}


.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.text-strong{
    font-weight: 700;
}

.text-italic{
    font-style: italic;
}
