@import "mixin";

/**
 * Tooltip
 */

@mixin tooltip(){
	background-color: rgba(0,0,0,0.75);
    padding: calc-em($vertical_padding / 2) calc-em($horizontal_padding / 1.4);
    border-radius: $border-radius;
    white-space: nowrap;
    content: attr(data-tooltip);
    position: absolute;
    color: #fff;
    text-transform: none;
}

@mixin tooltip-arrow-left{
	content: '';
	@include triangle(10px, rgba(0,0,0,0.75), right);
	position: absolute;
	left: -5px;
	top: 50%;
	margin-top: -5px;
}

@mixin tooltip-arrow-right{
	content: '';
	@include triangle(10px, rgba(0,0,0,0.75), left);
	position: absolute;
	right: -5px;
	top: 50%;
	margin-top: -5px;
}

@mixin tooltip-arrow-top{
	content: '';
	@include triangle(10px, rgba(0,0,0,0.75), down);
	position: absolute;
	left: calc-em($horizontal_padding / 1.4);
	top: -5px;
	z-index: 100;
}

@mixin tooltip-arrow-bottom{
	content: '';
	@include triangle(10px, rgba(0,0,0,0.75), up);
	position: absolute;
	left: calc-em($horizontal_padding / 1.4);
	bottom: -5px;
}

.tooltip{
	position: relative;
	&:hover{
		&:before{
			@include tooltip();
			z-index: 99;
		}
	}

	&--top{
		&:hover{
			&:before{
				top: - $base-line-height - calc-em($vertical_padding + 4px);
				left: 50%;
				margin-left: -50%;
			}
			&:after{
				@include tooltip-arrow-top;
			}
		}
	}
	&--bottom{
		&:hover{
			&:before{
				bottom: - $base-line-height - calc-em($vertical_padding + 4px);
				left: 50%;
				margin-left: -50%;
			}
			&:after{
				@include tooltip-arrow-bottom;
			}
		}
	}
	@import "mixin";

/**
 * Tooltip
 */

@mixin tooltip(){
	background-color: rgba(0,0,0,0.75);
    padding: calc-em($vertical_padding / 2) calc-em($horizontal_padding / 1.4);
    border-radius: $border-radius;
    white-space: nowrap;
    content: attr(data-tooltip);
    position: absolute;
    color: #fff;
    text-transform: none;
}

@mixin tooltip-arrow-left{
	content: '';
	@include triangle(10px, rgba(0,0,0,0.75), right);
	position: absolute;
	left: -5px;
	top: 50%;
	margin-top: -5px;
}

@mixin tooltip-arrow-right{
	content: '';
	@include triangle(10px, rgba(0,0,0,0.75), left);
	position: absolute;
	right: -5px;
	top: 50%;
	margin-top: -5px;
}

@mixin tooltip-arrow-top{
	content: '';
	@include triangle(10px, rgba(0,0,0,0.75), down);
	position: absolute;
	left: calc-em($horizontal_padding / 1.4);
	top: -5px;
	z-index: 100;
}

@mixin tooltip-arrow-bottom{
	content: '';
	@include triangle(10px, rgba(0,0,0,0.75), up);
	position: absolute;
	left: calc-em($horizontal_padding / 1.4);
	bottom: -5px;
}

.tooltip{
	position: relative;
	&:hover{
		&:before{
			@include tooltip();
			z-index: 99;
		}
	}

	&--top{
		&:hover{
			&:before{
				top: - $base-line-height - calc-em($vertical_padding + 4px);
				left: 50%;
				margin-left: -50%;
			}
			&:after{
				@include tooltip-arrow-top;
			}
		}
	}
	&--bottom{
		&:hover{
			&:before{
				bottom: - $base-line-height - calc-em($vertical_padding + 4px);
				left: 50%;
				margin-left: -50%;
			}
			&:after{
				@include tooltip-arrow-bottom;
			}
		}
	}
	&--bottom-right{
		&:hover{
			&:before{
				bottom: - $base-line-height - calc-em($vertical_padding + 4px);
				right: 50%;
				margin-right: -50%;
			}
			&:after{
				@include tooltip-arrow-bottom;
			}
		}
	}
	&--small{
		&:hover{
			&:before{
				top: - $base-line-height - calc-em($vertical_padding / 2 + 4px);
				padding: calc-em($vertical_padding / 4) calc-em($horizontal_padding / 2);
				font-size: $font_size--small;
			}
		}
	}
}
	&--small{
		&:hover{
			&:before{
				top: - $base-line-height - calc-em($vertical_padding / 2 + 4px);
				padding: calc-em($vertical_padding / 4) calc-em($horizontal_padding / 2);
				font-size: $font_size--small;
			}
		}
	}
}