/**
 * Base settings
 */


/**
 * Colors
 */

$cyan: #00abd3;
$red: #d50000;
$green: #00b100;
$orange: #ff8a00;
$grey--dark: #333333;
$grey: #666666;
$grey--medium: #aaaaaa;
$grey--light: #eeeeee;
$grey--lighter: #fafafa;

$background_color: #ffffff;
$background_color--primary: $cyan;
$background_color--create: $green;
$background_color--change: $orange;
$background_color--cancel: $grey;
$background_color--delete: $red;


/**
 * Typography
 */

$font_family--primary: "Helvetica Neue", sans-serif !default;
$font_family--heading: "Helvetica Neue", sans-serif !default;
$font_family--serif: Georgia, serif !default;
$font_family--monospace: Consolas, "Liberation Mono", Menlo, Courier, monospace !default;

$font_color: #444444;
$font_color--primary: $cyan;
$font_color--light: $grey--light;

$font_weight: 400;
$font_weight--bold: 700;

$base-line-height: 1.5em;

$font_size: 16px;
$font_size--hero: 2.441em;
$font_size--large: 1.953em;
$font_size--medium: 1.563em;
$font_size--emphasis: 1.25em;
$font_size--small: 0.80em;


/**
 * Headers
 */

$h1-ratio: $font_size--hero;
$h2-ratio: $font_size--large;
$h3-ratio: $font_size--medium;
$h4-ratio: $font_size--emphasis;
$h5-ratio: 1em;
$h6-ratio: 1em;

$h1-weight: 700;
$h2-weight: 700;
$h3-weight: 400;
$h4-weight: 400;
$h5-weight: 400;
$h6-weight: 400;

$h1-line-height: 1.3em;
$h2-line-height: 1.3em;
$h3-line-height: 1.3em;
$h4-line-height: 1.3em;
$h5-line-height: 1.3em;
$h6-line-height: 1.3em;


/**
 * Layout
 */

$vertical_padding: 0.75rem;
$horizontal_padding: 1rem;
$border-radius: 4px;

/**
 * Dialog
 */

$dialog_content_border: 1px solid $grey--light;
$dialog_header_bg: $grey--lighter;
$dialog_header_color: $grey--dark;
$dialog_header_border: 1px solid $grey--light;
$dialog_header_action_color: $font_color--primary;
$dialog_content_bg: #fff;
$dialog_footer_bg: #fff;
$dialog_footer_border: none;


/**
 * Modal
 */

$modal_content_border: none;
$modal_header_bg: $grey--lighter;
$modal_header_color: $grey--dark;
$modal_header_border: none;
$modal_header_action_color: $cyan;
$modal_content_bg: #fff;
$modal_footer_bg: #fff;
$modal_footer_border: none;

/**
 * Form
 */

$input_border_color: #dddddd;
$input_focus_color: #666666;
$error_background: rgba(213, 0, 0, 0.8);

/**
 * Breakpoints
 */

 $desktop-width: 1280px;
 $laptop-width: 1024px;
 $tablet-width: 768px;
 $mobile-width: 767px;


/**
 * Grid
 */

$grid-columns: 12 !default;

/**
 * Table
 */

$table-border-color: $grey--light;
$table-header-background-color: $grey--light;
$table-row-border-color: $grey--light;
